body {
    background-color: #1d1d1d ;
}

header {
    height: 80vh;
    background-image: url(./pexels-hitesh-choudhary-569314.jpg);
    background-size: cover;
    background-position: top ;
    clip-path: polygon(100% 0, 100% 38%, 86% 70%, 0 53%, 0 0);

}

header h1 {
    color: #fff;
    font-size: 80px;
    padding: 5% 30%;
}